<div class="container">
    <mat-card>
        <mat-form-field appearance="fill" class="mat-content-item-margin">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="usuario.nome" placeholder="Digite o nome:" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="mat-content-item-margin">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="usuario.email" placeholder="Digite o email" />
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="cancelar()"><mat-icon>close</mat-icon></button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="salvarUsuario()">Enviar</button>
        </mat-card-actions>
    </mat-card>
</div>