.mat-card-listagem-completa {
  background-color: #344D67;
  min-width: 250px;
  max-width: 300px;
  margin: 10px 1% 10px 1%;
  color: white;
}

.subtitle {
  color: white;
}

.img-filme {
  width: 200px;
  max-height: 200px;
}
