<div
  fxLayout="row wrap"
  fxLayoutAlign.lt-sm="center">
  <mat-card *ngFor="let filme of filmes" class="mat-card-listagem-completa" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>movie</mat-icon>
        {{filme.titulo}}
      </mat-card-title>
      <mat-card-subtitle>
        {{filme.dataLancamento}}, {{filme.duracao}}min
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{filme.descricao}}
    </mat-card-content>
  </mat-card>
</div>
